.cover__overlay {
    position: absolute;  
    top: 0;  
    left: 0;  
    display: block;  
    width: 100%;  
    height: 100%;  
    text-decoration: none;  
    z-index: 3;  

}
.cover__overlay:active {
    color: inherit;
  }
.cover__overlay:visited {
    color: inherit;
  }
