.place__link:active {
  color: #ffffff;
}
.place__link:visited {
  color: #ffffff;
}
.place__link {
  color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .place__link {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0em;
  }
}
