.header__lang-menu {
    display:flex;
    margin: 0; 
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 52px;
    flex-wrap: wrap;
    align-content: center;
}