.footer__copyright {
  flex-basis: 40%;
  text-align: right;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 0em;
}
@media (max-width: 1023px) {
  .footer__copyright {
    flex-basis: 30%;
  }
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    line-height: 14px;
    text-align: left;
  }
}
