.cover__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 76px;
  letter-spacing: 0em;
  margin: 0;
  text-align: center;
  z-index: 2;
  max-width: 500px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    font-weight: bold;
    line-height: 35px;
    letter-spacing: 0em;
  }
}
