.place {
  display: grid;
  justify-content: start;
  align-content: start;
  grid-template-rows: 0.3fr auto 1fr;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 48px;
  grid-template-areas:
    "title website"
    "image paragraph-up"
    "image paragraph-down";
  align-items: start;
  width: 984px;
  margin: 0 auto;
  margin-bottom: 80px;
  box-sizing: content-box;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    min-width: 928px;
    grid-template-columns: 440px auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    max-width: 720px;
    grid-template-columns: repeat(2, 45%);
    row-gap: 28px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .place {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    align-items: normal;
    row-gap: 0;
    margin-bottom: 50px;
    box-sizing: content-box;
  }
  .place:last-of-type {
    margin-bottom: 0;
  }
}
