.lead__subtitle {
  display: block;
  width: 64%;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;
  margin: 0 0 54px 0;
  align-self: center;
}
@media (max-width: 1023px) {
  .lead__subtitle {
    margin-bottom: 52.69px;
  }
}
@media (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    width: 90%;
  }
}
