.lead__caption {
  margin: 0;
  align-self: start;
  font-size: 10px;
  font-weight: normal;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 8px;
}
@media (max-width: 1023px) {
  .lead__caption {
    padding-left: 32px;
  }
}
@media (max-width: 767px) {
  .lead__caption {
    padding-left: 18px;
  }
}
