.intro__list {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  list-style-type: none;
  align-self: left;
  padding: 0;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .intro__list {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    margin-bottom: 34px;
  }
}
